{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "jest": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [1, "single"],
    "strict": [2, "never"],
    "semi": [0, "always"],
    "no-unused-vars": [1]
  },
  "extends": "eslint:recommended",
}
